
   body{
   
    margin-top: 5x;
  }


  ul
  {
     list-style-type: none;
     margin-left:auto;
     margin-left:auto;
     padding: 400px, 300px;
     overflow: hidden;
     background-color: black;
     width: 100%;
     float: right;
     height: 80px;
     position: sticky;
     top:10%;
  }

  li
  {
    float: left;
    text-decoration: inherit;
    text-decoration-color: black;
  }

  li a
  {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 31.5px;
    text-decoration: black;

  }

  li a:hover
  {
    background-color: grey;
    text-decoration-color: black;

  }

  p{
    text-decoration-color: transparent;
  }

  .footer {
   position:fixed;
   background-color: black;
   color: white;
   margin-bottom: 0;
   width: 100%;
   margin-top: 50px;
   padding:20px 5px 40px 5px;
  }



  






    